## 删除数据

df.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

labels：要删除的 index 或 columns

axis：整数（0、1）或轴名称。删除行（index、0），删除列（columns、1）

inplace：原地操作

In [1]:
import pandas as pd

country1 = pd.Series({'Name': '中国',
                    'Language': 'Chinese',
                    'Area': '9.597M km2',
                     'Happiness Rank': 79})

country2 = pd.Series({'Name': '美国',
                    'Language': 'English (US)',
                    'Area': '9.834M km2',
                     'Happiness Rank': 14})

country3 = pd.Series({'Name': '澳大利亚',
                    'Language': 'English (AU)',
                    'Area': '7.692M km2',
                     'Happiness Rank': 9})

df = pd.DataFrame([country1, country2, country3], index=['CH', 'US', 'AU'])

df

          Area  Happiness Rank      Language  Name
CH  9.597M km2              79       Chinese    中国
US  9.834M km2              14  English (US)    美国
AU  7.692M km2               9  English (AU)  澳大利亚

In [3]:
# 删除行，非原地
df2 = df.drop('CH')
df2

          Area  Happiness Rank      Language  Name
US  9.834M km2              14  English (US)    美国
AU  7.692M km2               9  English (AU)  澳大利亚

In [4]:
# 删除行，原地
df.drop('CH', inplace=True)
df

          Area  Happiness Rank      Language  Name
US  9.834M km2              14  English (US)    美国
AU  7.692M km2               9  English (AU)  澳大利亚

In [5]:
# 删除列
df.drop('Area', inplace=True, axis='columns')
df

    Happiness Rank      Language  Name
US              14  English (US)    美国
AU               9  English (AU)  澳大利亚