# 数据合并与分组

## 1、数据合并

In [1]:
import pandas as pd

staff_df = pd.DataFrame([{'姓名': '张三', '部门': '研发部'},
                        {'姓名': '李四', '部门': '财务部'},
                        {'姓名': '赵六', '部门': '市场部'}])


student_df = pd.DataFrame([{'姓名': '张三', '专业': '计算机'},
                        {'姓名': '李四', '专业': '会计'},
                        {'姓名': '王五', '专业': '市场营销'}])

print(staff_df)
print()
print(student_df)

   姓名   部门
0  张三  研发部
1  李四  财务部
2  赵六  市场部

     专业  姓名
0   计算机  张三
1    会计  李四
2  市场营销  王五

### pd.merge() 通过键拼接列

https://blog.csdn.net/zutsoft/article/details/51498026

In [2]:
pd.merge(staff_df, student_df, how='outer', on='姓名')
# 或者：
# staff_df.merge(student_df, how='outer', on='姓名')

   姓名   部门    专业
0  张三  研发部   计算机
1  李四  财务部    会计
2  赵六  市场部   NaN
3  王五  NaN  市场营销

In [3]:
pd.merge(staff_df, student_df, how='inner', on='姓名')
# 或者：
# staff_df.merge(student_df, how='inner', on='姓名')

   姓名   部门   专业
0  张三  研发部  计算机
1  李四  财务部   会计

In [4]:
pd.merge(staff_df, student_df, how='left', on='姓名')
# 或者：
# staff_df.merge(student_df, how='left', on='姓名')

   姓名   部门   专业
0  张三  研发部  计算机
1  李四  财务部   会计
2  赵六  市场部  NaN

In [5]:
pd.merge(staff_df, student_df, how='right', on='姓名')
# 或者：
# staff_df.merge(student_df, how='right', on='姓名')

   姓名   部门    专业
0  张三  研发部   计算机
1  李四  财务部    会计
2  王五  NaN  市场营销

In [6]:
# 也可以按照索引进行合并
staff_df.set_index('姓名', inplace=True)
student_df.set_index('姓名', inplace=True)

print(staff_df)
print()
print(student_df)
print()

pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

     部门
姓名
张三  研发部
李四  财务部
赵六  市场部

      专业
姓名
张三   计算机
李四    会计
王五  市场营销

     部门    专业
姓名
张三  研发部   计算机
李四  财务部    会计
王五  NaN  市场营销
赵六  市场部   NaN

In [7]:
# 当数据中列名不同时，使用 left_on、right_on 属性
staff_df.reset_index(inplace=True)  # 重置为默认 index
student_df.reset_index(inplace=True)

staff_df.rename(columns={'姓名':'员工姓名'}, inplace=True)  # 修改 staff_df 的列名

print(staff_df)
print()
print(student_df)

pd.merge(staff_df, student_df, how='outer', left_on='员工姓名', right_on='姓名')

  员工姓名   部门
0   张三  研发部
1   李四  财务部
2   赵六  市场部

   姓名    专业
0  张三   计算机
1  李四    会计
2  王五  市场营销

  员工姓名   部门   姓名    专业
0   张三  研发部   张三   计算机
1   李四  财务部   李四    会计
2   赵六  市场部  NaN   NaN
3  NaN  NaN   王五  市场营销

In [22]:
# 如果两个数据集中包含相同列名（但不是要连接的列），merge() 会自动加后缀作为区分
staff_df['地区'] = ['天津', '北京', '南京']
student_df['地区'] = ['天津', '香港', '深圳']

print(staff_df)
print()
print(student_df)

  员工姓名   部门  地区
0   张三  研发部  天津
1   李四  财务部  北京
2   赵六  市场部  南京

   姓名    专业  地区
0  张三   计算机  天津
1  李四    会计  香港
2  王五  市场营销  深圳

In [23]:
pd.merge(staff_df, student_df, how='outer', left_on='员工姓名', right_on='姓名')

  员工姓名   部门 地区_x   姓名    专业 地区_y
0   张三  研发部   天津   张三   计算机   天津
1   李四  财务部   北京   李四    会计   香港
2   赵六  市场部   南京  NaN   NaN  NaN
3  NaN  NaN  NaN   王五  市场营销   深圳

In [24]:
# 也可以指定后缀名称
pd.merge(staff_df, student_df, how='outer', left_on='员工姓名', right_on='姓名', suffixes=('(公司)', '(家乡)'))

  员工姓名   部门 地区(公司)   姓名    专业 地区(家乡)
0   张三  研发部     天津   张三   计算机     天津
1   李四  财务部     北京   李四    会计     香港
2   赵六  市场部     南京  NaN   NaN    NaN
3  NaN  NaN    NaN   王五  市场营销     深圳

In [27]:
# 指定多列进行合并，找出工作地址和家乡地址相同的人
pd.merge(staff_df, student_df, how='inner', left_on=['员工姓名', '地区'], right_on=['姓名', '地区'])

  员工姓名   部门  地区  姓名   专业
0   张三  研发部  天津  张三  计算机

In [29]:
# apply() 的使用
# 获取姓
staff_df['员工姓名'].apply(lambda x: x[0])

0    张
1    李
2    赵
Name: 员工姓名, dtype: object

In [30]:
# 获取名
staff_df['员工姓名'].apply(lambda x: x[1:])

0    三
1    四
2    六
Name: 员工姓名, dtype: object

In [36]:
# 结果合并
staff_df['姓'] = list(staff_df['员工姓名'].apply(lambda x: x[0]))
staff_df['名'] = list(staff_df['员工姓名'].apply(lambda x: x[1:]))

student_df['姓'] = list(map(lambda x: x[0], student_df['姓名']))
student_df['名'] = list(map(lambda x: x[1:], student_df['姓名']))

staff_df

  员工姓名   部门  地区  姓  名
0   张三  研发部  天津  张  三
1   李四  财务部  北京  李  四
2   赵六  市场部  南京  赵  六

## 2、数据分组

In [37]:
report_data = pd.read_csv('./2015.csv')
report_data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

### groupby()

In [39]:
grouped = report_data.groupby('Region')

print(grouped)
print()
print(type(grouped))

<pandas.core.groupby.DataFrameGroupBy object at 0x000001F645F95DA0>

<class 'pandas.core.groupby.DataFrameGroupBy'>

In [40]:
grouped['Happiness Score'].mean()

Region
Australia and New Zealand          7.285000
Central and Eastern Europe         5.332931
Eastern Asia                       5.626167
Latin America and Caribbean        6.144682
Middle East and Northern Africa    5.406900
North America                      7.273000
Southeastern Asia                  5.317444
Southern Asia                      4.580857
Sub-Saharan Africa                 4.202800
Western Europe                     6.689619
Name: Happiness Score, dtype: float64

In [41]:
grouped.size()

Region
Australia and New Zealand           2
Central and Eastern Europe         29
Eastern Asia                        6
Latin America and Caribbean        22
Middle East and Northern Africa    20
North America                       2
Southeastern Asia                   9
Southern Asia                       7
Sub-Saharan Africa                 40
Western Europe                     21
dtype: int64

In [42]:
# 迭代 groupby 对象
for group, frame in grouped:
    print(group, frame)

Australia and New Zealand        Country                     Region  Happiness Rank  Happiness Score  \
8  New Zealand  Australia and New Zealand               9            7.286
9    Australia  Australia and New Zealand              10            7.284

   Standard Error  Economy (GDP per Capita)   Family  \
8         0.03371                   1.25018  1.31967
9         0.04083                   1.33358  1.30923

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
8                   0.90837  0.63938                        0.42922
9                   0.93156  0.65124                        0.35637

   Generosity  Dystopia Residual
8     0.47501            2.26425
9     0.43562            2.26646
Central and Eastern Europe                     Country                      Region  Happiness Rank  \
30           Czech Republic  Central and Eastern Europe              31
43               Uzbekistan  Central and Eastern Europe              44
44                 Slovakia  Central and Eastern Europe              45
51                  Moldova  Central and Eastern Europe              52
53               Kazakhstan  Central and Eastern Europe              54
54                 Slovenia  Central and Eastern Europe              55
55                Lithuania  Central and Eastern Europe              56
58                  Belarus  Central and Eastern Europe              59
59                   Poland  Central and Eastern Europe              60
61                  Croatia  Central and Eastern Europe              62
63                   Russia  Central and Eastern Europe              64
68                   Kosovo  Central and Eastern Europe              69
69             Turkmenistan  Central and Eastern Europe              70
72                  Estonia  Central and Eastern Europe              73
76               Kyrgyzstan  Central and Eastern Europe              77
79               Azerbaijan  Central and Eastern Europe              80
82               Montenegro  Central and Eastern Europe              82
85                  Romania  Central and Eastern Europe              86
86                   Serbia  Central and Eastern Europe              87
88                   Latvia  Central and Eastern Europe              89
92                Macedonia  Central and Eastern Europe              93
94                  Albania  Central and Eastern Europe              95
95   Bosnia and Herzegovina  Central and Eastern Europe              96
103                 Hungary  Central and Eastern Europe             104
105              Tajikistan  Central and Eastern Europe             106
110                 Ukraine  Central and Eastern Europe             111
126                 Armenia  Central and Eastern Europe             127
129                 Georgia  Central and Eastern Europe             130
133                Bulgaria  Central and Eastern Europe             134

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
30             6.505         0.04168                   1.17898  1.20643
43             6.003         0.04361                   0.63244  1.34043
44             5.995         0.04267                   1.16891  1.26999
51             5.889         0.03799                   0.59448  1.01528
53             5.855         0.04114                   1.12254  1.12241
54             5.848         0.04251                   1.18498  1.27385
55             5.833         0.03843                   1.14723  1.25745
58             5.813         0.03938                   1.03192  1.23289
59             5.791         0.04263                   1.12555  1.27948
61             5.759         0.04394                   1.08254  0.79624
63             5.716         0.03135                   1.13764  1.23617
68             5.589         0.05018                   0.80148  0.81198
69             5.548         0.04175                   0.95847  1.22668
72             5.429         0.04013                   1.15174  1.22791
76             5.286         0.03823                   0.47428  1.15115
79             5.212         0.03363                   1.02389  0.93793
82             5.192         0.05235                   0.97438  0.90557
85             5.124         0.06607                   1.04345  0.88588
86             5.123         0.04864                   0.92053  1.00964
88             5.098         0.04640                   1.11312  1.09562
92             5.007         0.05376                   0.91851  1.00232
94             4.959         0.05013                   0.87867  0.80434
95             4.949         0.06913                   0.83223  0.91916
103            4.800         0.06107                   1.12094  1.20215
105            4.786         0.03198                   0.39047  0.85563
110            4.681         0.04412                   0.79907  1.20278
126            4.350         0.04763                   0.76821  0.77711
129            4.297         0.04221                   0.74190  0.38562
133            4.218         0.04828                   1.01216  1.10614

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
30                    0.84483  0.46364                        0.02652
43                    0.59772  0.65821                        0.30826
44                    0.78902  0.31751                        0.03431
51                    0.61826  0.32818                        0.01615
53                    0.64368  0.51649                        0.08454
54                    0.87337  0.60855                        0.03787
55                    0.73128  0.21342                        0.01031
58                    0.73608  0.37938                        0.19090
59                    0.77903  0.53122                        0.04212
61                    0.78805  0.25883                        0.02430
63                    0.66926  0.36679                        0.03005
68                    0.63132  0.24749                        0.04741
69                    0.53886  0.47610                        0.30844
72                    0.77361  0.44888                        0.15184
76                    0.65088  0.43477                        0.04232
79                    0.64045  0.37030                        0.16065
82                    0.72521  0.18260                        0.14296
85                    0.76890  0.35068                        0.00649
86                    0.74836  0.20107                        0.02617
88                    0.72437  0.29671                        0.06332
92                    0.73545  0.33457                        0.05327
94                    0.81325  0.35733                        0.06413
95                    0.79081  0.09245                        0.00227
103                   0.75905  0.32112                        0.02758
105                   0.57379  0.47216                        0.15072
110                   0.67390  0.25123                        0.02961
126                   0.72990  0.19847                        0.03900
129                   0.72926  0.40577                        0.38331
133                   0.76649  0.30587                        0.00872

     Generosity  Dystopia Residual
30      0.10686            2.67782
43      0.22837            2.23741
44      0.16893            2.24639
51      0.20951            3.10712
53      0.11827            2.24729
54      0.25328            1.61583
55      0.02641            2.44649
58      0.11046            2.13090
59      0.16759            1.86565
61      0.05444            2.75414
63      0.00199            2.27394
68      0.28310            2.76579
69      0.16979            1.86984
72      0.08680            1.58782
76      0.30030            2.23270
79      0.07799            2.00073
82      0.16140            2.10017
85      0.13748            1.93129
86      0.19231            2.02500
88      0.18226            1.62215
92      0.22359            1.73933
94      0.14272            1.89894
95      0.24808            2.06367
103     0.12800            1.24074
105     0.22974            2.11399
110     0.15275            1.57140
126     0.07855            1.75873
129     0.05547            1.59541
133     0.11921            0.89991
Eastern Asia         Country        Region  Happiness Rank  Happiness Score  \
37       Taiwan  Eastern Asia              38            6.298
45        Japan  Eastern Asia              46            5.987
46  South Korea  Eastern Asia              47            5.984
71    Hong Kong  Eastern Asia              72            5.474
83        China  Eastern Asia              84            5.140
99     Mongolia  Eastern Asia             100            4.874

    Standard Error  Economy (GDP per Capita)   Family  \
37         0.03868                   1.29098  1.07617
45         0.03581                   1.27074  1.25712
46         0.04098                   1.24461  0.95774
71         0.05051                   1.38604  1.05818
83         0.02424                   0.89012  0.94675
99         0.03313                   0.82819  1.30060

    Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
37                   0.87530  0.39740                        0.08129
45                   0.99111  0.49615                        0.18060
46                   0.96538  0.33208                        0.07857
71                   1.01328  0.59608                        0.37124
83                   0.81658  0.51697                        0.02781
99                   0.60268  0.43626                        0.02666

    Generosity  Dystopia Residual
37     0.25376            2.32323
45     0.10705            1.68435
46     0.18557            2.21978
71     0.39478            0.65429
83     0.08185            1.86040
99     0.33230            1.34759
Latin America and Caribbean                  Country                       Region  Happiness Rank  \
11            Costa Rica  Latin America and Caribbean              12
13                Mexico  Latin America and Caribbean              14
15                Brazil  Latin America and Caribbean              16
22             Venezuela  Latin America and Caribbean              23
24                Panama  Latin America and Caribbean              25
26                 Chile  Latin America and Caribbean              27
29             Argentina  Latin America and Caribbean              30
31               Uruguay  Latin America and Caribbean              32
32              Colombia  Latin America and Caribbean              33
39              Suriname  Latin America and Caribbean              40
40   Trinidad and Tobago  Latin America and Caribbean              41
41           El Salvador  Latin America and Caribbean              42
42             Guatemala  Latin America and Caribbean              43
47               Ecuador  Latin America and Caribbean              48
50               Bolivia  Latin America and Caribbean              51
52              Paraguay  Latin America and Caribbean              53
56             Nicaragua  Latin America and Caribbean              57
57                  Peru  Latin America and Caribbean              58
64               Jamaica  Latin America and Caribbean              65
97    Dominican Republic  Latin America and Caribbean              98
104             Honduras  Latin America and Caribbean             105
118                Haiti  Latin America and Caribbean             119

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
11             7.226         0.04454                   0.95578  1.23788
13             7.187         0.04176                   1.02054  0.91451
15             6.983         0.04076                   0.98124  1.23287
22             6.810         0.06476                   1.04424  1.25596
24             6.786         0.04910                   1.06353  1.19850
26             6.670         0.05800                   1.10715  1.12447
29             6.574         0.04612                   1.05351  1.24823
31             6.485         0.04539                   1.06166  1.20890
32             6.477         0.05051                   0.91861  1.24018
39             6.269         0.09811                   0.99534  0.97200
40             6.168         0.10895                   1.21183  1.18354
41             6.130         0.05618                   0.76454  1.02507
42             6.123         0.05224                   0.74553  1.04356
47             5.975         0.04528                   0.86402  0.99903
50             5.890         0.05642                   0.68133  0.97841
52             5.878         0.04563                   0.75985  1.30477
56             5.828         0.05371                   0.59325  1.14184
57             5.824         0.04615                   0.90019  0.97459
64             5.709         0.13693                   0.81038  1.15102
97             4.885         0.07446                   0.89537  1.17202
104            4.788         0.05648                   0.59532  0.95348
118            4.518         0.07331                   0.26673  0.74302

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
11                    0.86027  0.63376                        0.10583
13                    0.81444  0.48181                        0.21312
15                    0.69702  0.49049                        0.17521
22                    0.72052  0.42908                        0.11069
24                    0.79661  0.54210                        0.09270
26                    0.85857  0.44132                        0.12869
29                    0.78723  0.44974                        0.08484
31                    0.81160  0.60362                        0.24558
32                    0.69077  0.53466                        0.05120
39                    0.60820  0.59657                        0.13633
40                    0.61483  0.55884                        0.01140
41                    0.67737  0.40350                        0.11776
42                    0.64425  0.57733                        0.09472
47                    0.79075  0.48574                        0.18090
50                    0.53920  0.57414                        0.08800
52                    0.66098  0.53899                        0.08242
56                    0.74314  0.55475                        0.19317
57                    0.73017  0.41496                        0.05989
64                    0.68741  0.50442                        0.02299
97                    0.66825  0.57672                        0.14234
104                   0.69510  0.40148                        0.06825
118                   0.38847  0.24425                        0.17175

     Generosity  Dystopia Residual
11      0.25497            3.17728
13      0.14074            3.60214
15      0.14574            3.26001
22      0.05841            3.19131
24      0.24434            2.84848
26      0.33363            2.67585
29      0.11451            2.83600
31      0.23240            2.32142
32      0.18401            2.85737
39      0.16991            2.79094
40      0.31844            2.26882
41      0.10692            3.03500
42      0.27489            2.74255
47      0.11541            2.53942
50      0.20536            2.82334
52      0.34240            2.18896
56      0.27815            2.32407
57      0.14982            2.59450
64      0.21230            2.32038
97      0.21684            1.21305
104     0.23027            1.84408
118     0.46187            2.24173
Middle East and Northern Africa                      Country                           Region  Happiness Rank  \
10                    Israel  Middle East and Northern Africa              11
19      United Arab Emirates  Middle East and Northern Africa              20
21                      Oman  Middle East and Northern Africa              22
27                     Qatar  Middle East and Northern Africa              28
34              Saudi Arabia  Middle East and Northern Africa              35
38                    Kuwait  Middle East and Northern Africa              39
48                   Bahrain  Middle East and Northern Africa              49
62                     Libya  Middle East and Northern Africa              63
67                   Algeria  Middle East and Northern Africa              68
75                    Turkey  Middle East and Northern Africa              76
81                    Jordan  Middle East and Northern Africa              82
91                   Morocco  Middle East and Northern Africa              92
102                  Lebanon  Middle East and Northern Africa             103
106                  Tunisia  Middle East and Northern Africa             107
107  Palestinian Territories  Middle East and Northern Africa             108
109                     Iran  Middle East and Northern Africa             110
111                     Iraq  Middle East and Northern Africa             112
134                    Egypt  Middle East and Northern Africa             135
135                    Yemen  Middle East and Northern Africa             136
155                    Syria  Middle East and Northern Africa             156

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
10             7.278         0.03470                   1.22857  1.22393
19             6.901         0.03729                   1.42727  1.12575
21             6.853         0.05335                   1.36011  1.08182
27             6.611         0.06257                   1.69042  1.07860
34             6.411         0.04633                   1.39541  1.08393
38             6.295         0.04456                   1.55422  1.16594
48             5.960         0.05412                   1.32376  1.21624
62             5.754         0.07832                   1.13145  1.11862
67             5.605         0.05099                   0.93929  1.07772
75             5.332         0.03864                   1.06098  0.94632
81             5.192         0.04524                   0.90198  1.05392
91             5.013         0.03420                   0.73479  0.64095
102            4.839         0.04337                   1.02564  0.80001
106            4.739         0.03589                   0.88113  0.60429
107            4.715         0.04394                   0.59867  0.92558
109            4.686         0.04449                   1.00880  0.54447
111            4.677         0.05232                   0.98549  0.81889
134            4.194         0.03260                   0.88180  0.74700
135            4.077         0.04367                   0.54649  0.68093
155            3.006         0.05015                   0.66320  0.47489

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
10                    0.91387  0.41319                        0.07785
19                    0.80925  0.64157                        0.38583
21                    0.76276  0.63274                        0.32524
27                    0.79733  0.64040                        0.52208
34                    0.72025  0.31048                        0.32524
38                    0.72492  0.55499                        0.25609
48                    0.74716  0.45492                        0.30600
62                    0.70380  0.41668                        0.11023
67                    0.61766  0.28579                        0.17383
75                    0.73172  0.22815                        0.15746
81                    0.69639  0.40661                        0.14293
91                    0.60954  0.41691                        0.08546
102                   0.83947  0.33916                        0.04582
106                   0.73793  0.26268                        0.06358
107                   0.66015  0.24499                        0.12905
109                   0.69805  0.30033                        0.05863
111                   0.60237  0.00000                        0.13788